services:
  db:
    image: postgres:16
    container_name: course-reg-db
    environment:
      POSTGRES_DB: course_reg
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
