<!doctype html>
<html lang="vi"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
    th:fragment="layout (content, pageTitle)">
    <head>
        <meta charset="utf-8"/>
        <title th:text="${pageTitle} ?: 'ĐKHP - Hệ thống đăng ký học phần'">ĐKHP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/styles.css"/>
        <meta name="color-scheme" content="light dark"/>
    </head>
    <body>
      <header role="banner" class="topbar">
        <div class="nav-actions nav-abs">
          <span class="user-name" sec:authorize="isAuthenticated()">
            <span sec:authentication="name"></span>
          </span>

          <span sec:authorize="isAnonymous()">
            <a class="btn btn-login" th:href="@{/login}">Đăng nhập</a>
          </span>

          <span sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post" class="logout-form" aria-label="Đăng xuất">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
              <button type="submit" class="btn btn-login">Đăng xuất</button>
            </form>
          </span>
        </div>
      </header>

      <div class="layout-grid-2">
        <aside class="sidebar">
          <div class="card nav-card">
            <div class="card-title">Điều hướng</div>
            <ul class="link-list">
              <li><a th:href="@{/}">Trang chủ</a></li>
              <li><a th:href="@{/courses}">Học phần</a></li>
            </ul>
          </div>
          <div class="card link-card">
            <div class="card-title">Liên kết</div>
            <ul class="link-list">
              <li><a href="#">Tra cứu bằng tốt nghiệp</a></li>
              <li><a href="#">Tra cứu văn bằng - chứng chỉ</a></li>
              <li><a href="#">Tra cứu điểm hệ LT/VLVH</a></li>
              <li><a href="#">Đảm bảo chất lượng</a></li>
            </ul>
          </div>
        </aside>
        <main id="main" role="main" class="main">
          <div th:insert="${content}">
            </div>
        </main>
    </div>
  </body>
</html>