spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/WebDangKyHocPhan
    username: postgres
    password: Chihan0403@
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate.jdbc.time_zone: UTC
  flyway:
    enabled: false
    locations: classpath:db/migration
  web:
    resources:
      cache:
        period: 0
        cachecontrol:
          no-cache: true
      chain:
        cache: false
  thymeleaf:
    cache: false

server:
  port: 8080